[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
arabic-reshaper = "*"
python-bidi = "*"
camel-tools = "*"
numpy = "*"
evaluate = "*"
regex = "*"

[dev-packages]

[requires]
python_version = "3.12"
